@use "../../styles/globals.scss" as g;

/* mobile */
#about {
  width: 100%;
  .collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

/* tablet */
@media screen and (min-width: 481px) {
  #about {
    border-radius: g.$m-radius;
    position: relative;
    max-width: 1240px;
  }
}

/* desktop */
@media screen and (min-width: 1025px) {
  #about {
    border-radius: g.$d-radius;
    margin-top: 30px;
  }
  .collapse {
    margin-top: 31px;
  }
}
