@use "../../styles/globals.scss" as g;

/* mobile first */
#accomodationInfo {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  color: g.$red;

  .accomodationInfoTitle {
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    word-break: break-word;
    line-height: 25.67px;
  }

  .accomodationInfoLocation {
    font-weight: 400;
    font-size: 14px;
    line-height: 25.67px;
  }

  .accomodationInfoTags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: fit-content;
    margin-top: 12.1px;
    margin-bottom: 15px;
    font-size: 10px;
    line-height: 14.2px;
    row-gap: 10px;

    .accomodationInfoTag {
      display: flex;
      justify-content: center;
      align-items: center;
      color: g.$white;
      background-color: g.$red;
      height: 18px;
      min-width: 84px;
      padding-right: 12px;
      padding-left: 12px;
      border-radius: g.$tags-radius;
      margin-right: 10px;
    }
  }

  .hostStars {
    margin-top: 0px;
    color: g.$red;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    .host {
      display: flex;
      align-items: center;

      .hostName {
        display: flex;
        width: min-content;
        text-align: right;
        font-size: 12px;
        margin-right: 10.5px;
      }

      .hostPhoto {
        width: 32px;
        height: 32px;
        border-radius: g.$photos-radius;
      }
    }
  }
}

/* desktop MD screen */
@media screen and (min-width: 769px) {
  #accomodationInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .accomodationInfoTitle {
      font-size: 20px;
      line-height: 37px;
    }

    .accomodationInfoLocation {
      font-size: 16px;
      line-height: 25.67px;
    }

    .accomodationInfoTags {
      margin-top: 20px;
      margin-bottom: 26px;

      .accomodationInfoTag {
        height: 25px;
        font-size: 14px;
        border-radius: g.$m-radius;
      }
    }

    .hostStars {
      display: flex;
      flex-direction: column;
      height: 108px;

      .host {
        .hostName {
          font-size: 15px;
        }

        .hostPhoto {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}

/* desktop LG screen */
@media screen and (min-width: 1025px) {
  #accomodationInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .accomodationInfoTitle {
      font-size: 36px;
      line-height: 51.34px;
    }

    .accomodationInfoLocation {
      font-size: 18px;
      line-height: 25.67px;
    }

    .accomodationInfoTags {
      .accomodationInfoTag {
        font-size: 14px;
        font-weight: 500;
        margin-right: 10px;
        min-width: 115px;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: g.$m-radius;
      }
    }

    .hostStars {
      display: flex;
      flex-direction: column;
      height: 120px;
      margin-left: 30px;

      .host {
        .hostName {
          font-size: 18px;
        }

        .hostPhoto {
          width: 64px;
          height: 64px;
        }

        .rating {
          margin-top: 30px;
          margin-bottom: 10px;
          width: max-content;
        }
      }
    }
  }
}
