@use "../../styles/globals.scss" as g;

/* mobile */
.starIcon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

/* tablet */
@media screen and (min-width: 481px) {
  .starIcon {
    width: 22.5px;
    height: 22.5px;
    margin-right: 0;
    margin-left: 7px;
  }
}

/* desktop */
@media screen and (min-width: 1025px) {
  .starIcon {
    width: 30px;
    height: 30px;
    margin-right: 0;
    margin-left: 10px;
  }
}
