@use "../../styles/globals.scss" as g;

/* mobile */
.layoutContainer {
  width: 100%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .headerContainer {
    max-width: 1240px;
    width: 100%;
  }
  #layout {
    min-height: calc(100vh - 47px - 223px);
    padding: 20px;
    width: 100%;
  }
}
/* tablet */
@media screen and (min-width: 481px) {
  .layoutContainer {
    .headerContainer {
    }
    #layout {
      padding: 30px;
    }
  }
}

/* desktop */
@media screen and (min-width: 1025px) {
  .layoutContainer {
    .headerContainer {
    }
    #layout {
      padding: 40px;
    }
    // #layout {
    //   padding-bottom: 43px;
    //   padding-left: 40px;
    //   padding-right: 40px;
    // }
  }
}
