@use "../../styles/globals.scss" as g;

#accomodation {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1240px;

  main {
    margin: 0 auto;
    width: 100%;

    .collapsesContainer {
      width: 100%;
      margin: 0 auto;
      .collapse {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .collapsesContainer {
    // border: solid 3px black;
    max-width: 1240px;
    // margin: 0 auto;
    // margin-top: 24px;
    display: flex;
    column-gap: 76px;

    .collapse {
      width: 100%;

      p {
        font-size: 18px;
      }
    }
  }
}
