@use "../../styles/globals.scss" as g;

/* mobile */
#accomodation {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1240px;

  main {
    margin: 0 auto;
    width: 100%;

    .collapsesContainer {
      width: 100%;
      margin: 0 auto;
      .collapse {
        margin: 0;
      }
    }
  }
}

/* tablet */
@media screen and (min-width: 481px) {
}

/* desktop */
@media screen and (min-width: 1025px) {
  #accomodation {
    main {
      .collapsesContainer {
        display: flex;
        column-gap: 76px;

        .collapse {
          width: 100%;

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
