@use "../../styles/globals.scss" as g;

/* mobile */
#card {
  width: 100%;
  a {
    .cardItem {
      height: 255px;
      border-radius: g.$m-radius;
      position: relative;
      margin-bottom: 20px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      opacity: 1;
      .cardImg {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: g.$m-radius;
        opacity: 0.7;
      }
      .cardTitle {
        width: 70%;
        position: absolute;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        bottom: 15px;
        margin-left: 19.71px;
        margin-right: 19.71px;
        color: g.$white;
      }
    }
  }
}

/* tablet */
@media screen and (min-width: 481px) {
  #card {
    padding-top: 27.5px;
    a {
      .cardItem {
        height: 297px;
        margin-bottom: 40px;

        .cardImg {
        }
        .cardTitle {
        }
      }
    }
  }
}

/*desktop */
@media screen and (min-width: 1025px) {
  #card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1240px;
    background-color: g.$grey;
    padding: 50px;
    padding-top: 56px;
    gap: 60px;
    row-gap: 50px;
    border-radius: g.$d-radius;
    a {
      .cardItem {
        height: 340px;
        width: 340px;
        margin-bottom: 0;
      }
    }
  }
}
