@use "../../styles/globals.scss" as g;

/* mobile first */
#collapse {
  margin-bottom: 20.07px;
  width: 100%;
  cursor: pointer;

  .collapseDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: g.$red;
    border-radius: 5px;
    padding: 11.51px;
    position: relative;
    z-index: 1;
    height: 29.93px;

    .collapseTitle {
      font-weight: 500;
      font-size: 13px;
      line-height: 142.6%;
      color: g.$white;
    }

    .collapseArrowUp {
      transform: rotate(180deg);
      width: 15.2px;
    }

    .collapseArrowDown {
      transition: 0.7s;
      width: 15.2px;
    }
  }

  .collapseText {
    background-color: g.$grey;
    color: g.$red;
    font-size: 12px;
    padding: 20px;
    padding-left: 11.51px;
    border-radius: 0px 0px 5px 5px;
    line-height: 142.6%;
    margin-top: -5px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #collapse {
    margin-bottom: 20px;

    .collapseDiv {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: g.$red;
      border-radius: 5px;
      padding: 1rem;
      position: relative;
      z-index: 1;
      height: 30px;

      .collapseTitle {
        font-size: 16px;
        height: 11px;
        margin-right: 10px;
        display: flex;
        align-items: center;
      }
    }

    .collapseText {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 1025px) {
  #collapse {
    max-width: 1023px;
    margin-bottom: 30px;

    .collapseDiv {
      height: 47px;
      border-radius: g.$m-radius;
      padding-left: 20px;

      .collapseTitle {
        font-size: 18px;
      }

      .collapseArrowUp {
        transform: rotate(180deg);
        width: 14.6px;
      }

      .collapseArrowDown {
        transition: 0.7s;
        width: 14.6px;
      }
    }

    .collapseText {
      font-weight: 400;
      font-size: 18px;
      border-bottom-right-radius: g.$m-radius;
      border-bottom-left-radius: g.$m-radius;
      padding-top: 36px;
      padding-bottom: 19px;
      padding-left: 20px;
    }
  }
}
