@use "../../styles/globals.scss" as g;

/* mobile */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  a {
    .headerLogo {
      width: 145px;
    }
  }
  .headerMenu {
    min-width: 140px;
    .headerUl {
      display: flex;
      justify-content: space-between;
      a {
        &:hover {
          text-decoration: underline;
        }
        .headerLi {
          font-family: g.$font1;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 12px;
          color: g.$red;
        }
      }
    }
  }
}

/* tablet */
@media screen and (min-width: 481px) {
  #header {
    padding: 30px;
    a {
      .headerLogo {
        width: 178px;
      }
    }
    .headerMenu {
      min-width: 182px;
      .headerUl {
        a {
          .headerLi {
            text-transform: none;
            font-size: 18px;
          }
        }
      }
    }
  }
}

/* desktop */
@media screen and (min-width: 1025px) {
  #header {
    padding: 40px;
    a {
      .headerLogo {
        width: 210.32px;
      }
    }
    .headerMenu {
      .headerUl {
        a {
          .headerLi {
            text-transform: none;
            font-size: 24px;
            margin-left: 57px;
          }
        }
      }
    }
  }
}
