@use "../../styles/globals.scss" as g;

/* mobile */
#footer {
  background-color: g.$black;
  width: 100%;
  height: 209px;
  @include g.flex-col-center;
  padding-top: 30px;

  .footerLogo {
    width: 122px;
  }

  .footerText {
    color: g.$white;
    font-size: 12px;
    height: 46px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-weight: 500;
  }
}

/* tablet */
@media screen and (min-width: 481px) {
  #footer {
    .footerText {
      font-size: 16px;
    }
  }
}

/* desktop */
@media screen and (min-width: 1025px) {
  #footer {
    .footerText {
      font-size: 24px;
    }
  }
}
