@use "../../styles/globals.scss" as g;

/* mobile */
.banner {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  .bannerImg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
    border-radius: g.$m-radius;
  }
  .bannerImgHome {
    background-image: url("../../assets/images/banner_home.png");
    height: 111px;
    margin-top: 3.33px;
  }
  .bannerImgAbout {
    background-image: url("../../assets/images/banner_about.png");
    height: 223px;
    margin-top: 3.33px;
  }
  .bannerText {
    position: absolute;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    display: flex;
    margin-left: 16px;
    width: 65%;
    color: g.$white;
  }
}

/* tablet */
@media screen and (min-width: 481px) {
  .banner {
    height: 157px;
    .bannerImg {
      height: 100%;
      width: 100%;
    }
    .bannerText {
      font-size: 36px;
      margin-left: 16px;
      width: 84.5%;
    }
  }
}

/* desktop */
@media screen and (min-width: 1025px) {
  .banner {
    height: 223px;
    border-radius: g.$d-radius;
    margin-bottom: 43px;
    justify-content: center;
    .bannerImg {
      border-radius: g.$d-radius;
      height: 100%;
      width: 100%;
    }
    .bannerText {
      font-size: 48px;
      margin: 0;
      justify-content: center;
    }
  }
}
